{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
	var get_users_url = "{{=URL('user_api', 'get_users', user_signature=True)}}";
    var user_data_url = "{{=URL('user_api', 'get_user_data', user_signature=True)}}";
    var add_user_data_url = "{{=URL('user_api', 'add_user_data', user_signature=True)}}";
    var edit_user_data_url = "{{=URL('user_api', 'edit_user_data', user_signature=True)}}";
    var delete_board_url = "{{=URL('user_api', 'delete_board', user_signature=True)}}";
    var delete_user_data_url = "{{=URL('user_api', 'delete_all_user_data', user_signature=True)}}";
    var delete_group_data_url = "{{=URL('groups_api', 'delete_all_group_data', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">

	<div id="vue-div" class="about">

	  	<div class="container padded">

	     	<h2 class="page_title"> About </h2>
	     	<p> This project was created for UC Santa Cruz CMPS 115 by Sean Odnert, Mark Hiserodt, Andrew Haukness, and Daniel Aguiar.</p>
	     	<p> Website created using Web2py and Vue.js and all images courtsey of Surfer.com. </p>
	     	<p> Surf data thanks to Spitcast.com </p>

	     	<!-- <button v-on:click="delete_all_user_data()" class="btn">Delete All Users</button>
	     	<button v-on:click="delete_all_group_data()" class="btn">Delete All Groups</button> -->
		</div>
    
	</div>

</div>
<script src="{{=URL('static', 'js/profile.js')}}"></script>

