{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var my_url = "{{=URL('api', 'my_method')}}";
</script>
{{end}}

<div class="main_content">

	<div id="vue-div" class="about">

	  	<div class="container padded">

	     	<h2 class="page_title"> About </h2>
	     	<p> This project was created for UC Santa Cruz CMPS 115 by Sean Odnert, Mark Hiserodt, Andrew Haukness, and Daniel Aguiar.</p>
	     	<p> Website created using Web2py and Vue.js and all images courtsey of Surfer.com. </p>
	     	<p> Surf data thanks to Spitcast.com </p>

		</div>
    
	</div>

</div>

