{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var get_users_url = "{{=URL('user_api', 'get_users', user_signature=True)}}";
	var user_data_url = "{{=URL('user_api', 'get_user_data', user_signature=True)}}";
	var get_notifications_url = "{{=URL('user_api', 'get_notifications', user_signature=True)}}";
	var remove_notification_url = "{{=URL('user_api', 'remove_notification', user_signature=True)}}";
	var change_group_name_url = "{{=URL('groups_api', 'change_group_name', user_signature=True)}}";
	var add_group_url = "{{=URL('groups_api', 'add_group', user_signature=True)}}";
	var get_groups_url = "{{=URL('groups_api', 'get_groups', user_signature=True)}}";
	var delete_all_group_data_url = "{{=URL('groups_api', 'delete_all_group_data', user_signature=True)}}";
	var delete_all_user_data_url = "{{=URL('user_api', 'delete_all_user_data', user_signature=True)}}";
	var get_group_url = "{{=URL('groups_api', 'get_group', user_signature=True)}}";
	var invite_member_url = "{{=URL('groups_api', 'invite_member', user_signature=True)}}";
	var delete_group_url = "{{=URL('groups_api', 'delete_group', user_signature=True)}}";
	var add_to_group_url = "{{=URL('groups_api', 'add_to_group', user_signature=True)}}";
	var add_user_data_url = "{{=URL('user_api', 'add_user_data', user_signature=True)}}";
	var leave_group_url = "{{=URL('groups_api', 'leave_group', user_signature=True)}}";
</script>
<link href="{{=URL('static','css/groups.css')}}" rel="stylesheet" type="text/css"/>
{{end}}

<div class="main_content">

	<div id="vue-div" class="groups">

  		<div class="container padded">

			<h2 class="page_title"> Groups Page </h2>

			<div class="container" v-if="logged_in">

				<!-- Before adding a group -->
				<div class="container half">
					<div class="blue group_container" v-if="!is_making_group">
						<h6>Create a new group to surf with</h6>
						<button class="btn rounded" v-on:click="add_group()">
						<i class="fa fa-plus"></i>
						</button>
					</div>

					<!-- While making a group you own-->
					<div class="blue group_container" v-if="is_making_group & is_modifiable">
						<div class="container">
							<label class="quarter">Group name: </label>
							<div class="half">
								<input type="text" v-model="group_name" v-on:blur="change_group_name()" v-on:keyup.enter="change_group_name()">
							</div>
						</div>

						<br>

						<div class="container" v-if="current_group">
							<label class="quarter">Group owner: </label>
							<div class="half">
								<p>${current_group.group_owner}</p>
							</div>
						</div>

						<br>

						<div class="container" v-if="current_group">
							<label class="quarter">Members: </label>
							<div class="half" v-for="(member, index) in current_group.members">
								<p>${member}</p>
							</div>
						</div>

						<br>

						<div class="container" v-if="current_group">
							<label class="quarter">Invite members:</label>
							<select class="fill half" v-model="invitee">
								<option v-for="(user, index) in users" id="member" v-if="check_user(user.email)">
									${user.email}
								</option>
							</select>
							<button class="btn rounded" v-on:click="invite_member(), toggle_alert()">
								<i class="fas fa-user-plus"></i>
							</button>
						</div>

						<br>

						<!-- <div class="alert">
							<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
							Invited user
						</div> -->

						<div class="alert" v-if="display_alert">
							<span class="closebtn" v-on:click="toggle_alert()">&times;</span> 
							Invited user
						</div>

						<br>
						
						<button class="btn rounded" v-on:click="toggle_making_group()">
							Done
						</button>
						<button class="btn rounded right" v-on:click="delete_group(), toggle_making_group()">
							Delete Group
						</button>
					</div>

					<!-- While making a group you don't own-->
					<div class="blue group_container" v-if="is_making_group & !is_modifiable">
						<div class="container">
							<label class="quarter">Group name: </label>
							<div class="half">
								<label>${group_name}</label>
							</div>
						</div>

						<br>

						<div class="container" v-if="current_group">
							<label class="quarter">Group owner: </label>
							<div class="half">
								<p>${current_group.group_owner}</p>
							</div>
						</div>

						<br>

						<div class="container" v-if="current_group">
							<label class="quarter">Members: </label>
							<div class="half" v-for="(member, index) in current_group.members">
								<p>
									${member}
								</p>
							</div>
						</div>

						<br>
						
						<button class="btn rounded" v-on:click="toggle_making_group()">
							Done
						</button>
						<button class="btn rounded right" v-on:click="leave_group(), toggle_making_group()">
							Leave group
						</button>
					</div>

					<div v-if="user_data" class="green group_container">
						<button class="btn rounded" v-on:click="toggle_is_nfc()" v-if="user_data.notifications">
							<i class="far fa-bell"></i> ${user_data.notifications.length}
						</button>

						<button class="btn rounded" v-on:click="toggle_is_nfc()" v-if="!user_data.notifications">
							<i class="far fa-bell"></i>
						</button>

						<div v-if="is_nfc" v-for="(nfc, index) in notifications">
							<button v-on:click="add_to_group(nfc.group_id), remove_notification(index)">
								Accept: ${nfc.group_name}
								<br>
								Owner: ${nfc.group_owner}
							</button>
							<button v-on:click="remove_notification(index)">
								Decline group: ${nfc.group_name}
								<br>
								Owner: ${nfc.group_owner}
							</button>
						</div>
					</div>
				</div>

				<div class="third navy group_container">
					<h6 class="your_groups">Your groups</h6>

					<!-- Code to display the images -->
					<div v-if="groups">
						<ul class="container">
							<li v-for="(group, index) in groups">
								<div class="group_button">
									<button v-on:click="get_group(index), making_group()">
										${group.group_name}
									</button>
								</div>
							</li>
						</ul>
						<h4 v-if="groups.length == 0"> You have no groups, try making one! </h4>
					</div>
				</div>

			</div>

			<div v-if="!logged_in">
				<h3>Log in to use groups</h3>
			</div>

			<!-- <button class="btn rounded" v-on:click="get_groups()">
				Get group data
			</button> -->

		</div>
    
	</div>

</div>
<script src="{{=URL('static', 'js/group.js')}}"></script>
