{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var get_users_url = "{{=URL('api', 'get_users', user_signature=True)}}";
	var user_data_url = "{{=URL('api', 'get_user_data', user_signature=True)}}";
	var change_group_name_url = "{{=URL('api', 'change_group_name', user_signature=True)}}";
	var add_group_url = "{{=URL('api', 'add_group', user_signature=True)}}";
	var get_groups_url = "{{=URL('api', 'get_groups', user_signature=True)}}";
	var delete_all_group_data_url = "{{=URL('api', 'delete_all_group_data', user_signature=True)}}";
	var get_group_url = "{{=URL('api', 'get_group', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">

	<div id="vue-div" class="display:none">

  		<div class="container padded">

			<h2> Groups Page </h2>

			<div class="container">

				<!-- Before adding a group -->
				<div class="half" v-if="!is_making_group">
					<h6>Create a new group to surf with</h6>
					<button class="btn rounded" v-on:click="add_group(), toggle_making_group()">
					<i class="fa fa-plus"></i>
					</button>
				</div>

				<div class="half" v-if="!is_making_group">
					<h6>Your groups</h6>

					<!-- Code to display the images -->
					<div>
						<ul class="container">
							<li v-for="(group, index) in groups" class="quarter">
								<div>
									<button v-on:click="get_group(index), toggle_making_group()">
										${group.group_name}
									</button>
								</div>
							</li>
						</ul>
						<h2 v-if="groups.length == 0"> You have no groups, try making one! </h2>
					</div>
				</div>

				<!-- While making a group -->
				<div class="half" v-if="is_making_group">
					<div class="container">
						<label class="quarter">Group name: </label>
						<div class="half">
							<input type="text" v-model="group_name" v-on:blur="change_group_name(group_id)" v-on:keyup.enter="change_group_name(group_id)">
						</div>
					</div>

					<br>

					<div class="container">
						<label class="quarter">Invite members:</label>
						<select class="fill half">
							<option v-for="(user, index) in users">${user.first_name} ${user.last_name}</option>
						</select>
						<button class="btn rounded">
							<i class="fas fa-user-plus"></i>
						</button>
					</div>

					<br>
					
					<button class="btn rounded" v-on:click="get_groups(), toggle_making_group()">
						Done
					</button>
				</div>
			</div>

			<!-- <button class="btn rounded" v-on:click="get_groups()">
				Get group data
			</button> -->

		</div>
    
	</div>

</div>
<script src="{{=URL('static', 'js/group.js')}}"></script>
