{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var get_users_url = "{{=URL('user_api', 'get_users', user_signature=True)}}";
	var user_data_url = "{{=URL('user_api', 'get_user_data', user_signature=True)}}";
	var get_notifications_url = "{{=URL('user_api', 'get_notifications', user_signature=True)}}";
	var remove_notification_url = "{{=URL('user_api', 'remove_notification', user_signature=True)}}";
	var change_group_name_url = "{{=URL('groups_api', 'change_group_name', user_signature=True)}}";
	var add_group_url = "{{=URL('groups_api', 'add_group', user_signature=True)}}";
	var get_groups_url = "{{=URL('groups_api', 'get_groups', user_signature=True)}}";
	var delete_all_group_data_url = "{{=URL('groups_api', 'delete_all_group_data', user_signature=True)}}";
	var delete_all_user_data_url = "{{=URL('user_api', 'delete_all_user_data', user_signature=True)}}";
	var get_group_url = "{{=URL('groups_api', 'get_group', user_signature=True)}}";
	var invite_member_url = "{{=URL('groups_api', 'invite_member', user_signature=True)}}";
	var delete_group_url = "{{=URL('groups_api', 'delete_group', user_signature=True)}}";
	var add_to_group_url = "{{=URL('groups_api', 'add_to_group', user_signature=True)}}";
	var add_user_data_url = "{{=URL('user_api', 'add_user_data', user_signature=True)}}";
	var leave_group_url = "{{=URL('groups_api', 'leave_group', user_signature=True)}}";
	var edit_group_session_url = "{{=URL('groups_api', 'edit_group_session', user_signature=True)}}";
</script>
<link href="{{=URL('static','css/groups.css')}}" rel="stylesheet" type="text/css"/>
{{end}}

<div class="main_content">

	<div id="vue-div" class="groups">

  		<div class="container padded">

			<h2 class="page_title"> Groups Page </h2>

			<div class="container" v-if="logged_in">

				<div class="half">
					<!-- Before adding a group -->
					<div class="semi_transparent_box add_group_container" v-if="!is_making_group">
						<h4>Create a new group to surf with</h4>
						<button class="btn rounded" v-on:click="add_group()">
						<i class="fa fa-plus"></i>
						</button>
					</div>

					<!-- While making a group you own-->
					<div class="semi_transparent_box group_container" v-if="is_making_group & is_modifiable">
						<div class="name_container">
							<div class="center">
								<h3 class="group_name" v-if="!editing_group_name"> ${group_name} </h3>
								<i class="far fa-edit name_edit_icon" v-if="!editing_group_name" v-on:click="edit_group_name()"></i>
								<input class="edit_group_name" type="text" v-model="group_name" v-on:blur="change_group_name()" v-on:keyup.enter="change_group_name()" v-if="editing_group_name">
							</div>
						</div>
						<div v-if="current_group" class="spot_and_members">
							<div class="group_left left">
								<h5 class="center"> Group Session </h5>
								<a v-bind:href="group_surf_url">
									<div class="spot_card_group">
						              <div class="spot_image" v-bind:style="group_spot.style"> 
						                <label class="right spot_time"> ${group_spot.time} </label>
						              </div>
						              <div class="spot_container">
						                <h4 class="spot_title"><b>${group_spot.spot}</b></h4> 
						                <span>${group_spot.wave_height}</span> <br>
						                <span>${group_spot.tide}</span> 
						              </div>
						            </div>
					            </a>
					            <div class="remove_container"><button class="remove_session center" v-on:click="remove_group_session()"> Remove Session</button></div>
							</div>
							<div class="group_right right">
								<h5 class="center"> Members </h5>
								<label class="left">${current_group.group_owner} (Owner)</label> <br>
								<div class="left member" v-for="(member, index) in current_group.members">
									<label class="left">${member}</label> <br>
								</div>
								<br>
								<div class="center" v-if="current_group">
									<h6 class="center">Invite members:</h6>
									<select class="threequarters" v-model="invitee">
										<option disabled value="">Select a Member</option>
										<option v-for="(user, index) in users" id="member" v-if="check_user(user.email)">
											${user.email}
										</option>
									</select>
									<button class="btn rounded" v-on:click="invite_member(), toggle_alert()">
										<i class="fas fa-user-plus"></i>
									</button>
								</div>
								<div class="alert" v-if="display_alert">
									<span class="closebtn" v-on:click="toggle_alert()">&times; Invited user</span> 
								</div>
							</div>
						</div>
						<br>
						<button class="btn rounded done_button" v-on:click="toggle_making_group()">
							Done
						</button>
						<button class="btn rounded right delete_button" v-on:click="delete_group(), toggle_making_group()">
							Delete Group
						</button>
					</div>

					<!-- While viewing a group you don't own-->
					<div class="semi_transparent_box group_container" v-if="is_making_group & !is_modifiable">
						<div class="name_container">
							<div class="center">
								<h3 class="group_name" v-if="!editing_group_name"> ${group_name} </h3>
							</div>
						</div>
						<div v-if="current_group" class="spot_and_members">
							<div class="group_left left">
								<h5 class="center"> Group Session </h5>
								<div class="spot_card_group">
					              <div class="spot_image" v-bind:style="group_spot.style"> 
					                <label class="right spot_time"> ${group_spot.time} </label>
					              </div>
					              <div class="spot_container">
					                <h4 class="spot_title"><b>${group_spot.spot}</b></h4> 
					                <span>${group_spot.wave_height}</span> <br>
					                <span>${group_spot.tide}</span> 
					              </div>
					            </div>
							</div>
							<div class="group_right right">
								<h5 class="center"> Members </h5>
								<label class="left">${current_group.group_owner} (Owner)</label>
								<div class="left member" v-for="(member, index) in current_group.members">
									<label class="left">${member}</label>
								</div>
							</div>
						</div>
						<br>
						<button class="btn rounded done_button" v-on:click="toggle_making_group()">
							Done
						</button>
						<button class="btn rounded right done_button" v-on:click="leave_group(), toggle_making_group()">
							Leave group
						</button>
					</div>

				</div>
				<div class="half">
					<!-- Group List Container -->
					<div class="semi_transparent_box group_list_container">
						<h3 class="your_groups">Your groups</h3>
						<ul v-if="groups" class="">
							<li v-for="(group, index) in groups">
								<div class="threequarters">
									<button v-on:click="get_group(index), making_group()" v-bind:class="{ active_group: is_active_group(index) }">
										${group.group_name}
										<span v-if="group.group_owner == current_user.email"> (Owner) </span>
									</button>
								</div>
							</li>
						</ul>
						<h4 class="center" v-if="groups && groups.length == 0"> You have no groups, try making one! </h4>
					</div>

					<!-- Notifications container -->
					<div v-if="user_data" class="semi_transparent_box notification_container">
						<h3 class="your_groups">Notifications</h3>
						<button class="btn rounded" v-on:click="toggle_is_nfc()" v-if="user_data.notifications">
							<i class="far fa-bell"></i> ${user_data.notifications.length}
						</button>

						<button class="btn rounded" v-on:click="toggle_is_nfc()" v-if="!user_data.notifications">
							<i class="far fa-bell"></i>
						</button>

						<div v-if="is_nfc" v-for="(nfc, index) in notifications" class="center">
							<button v-on:click="add_to_group(nfc.group_id), remove_notification(index)" class="inv_acc_color">
								Accept: 
								<br>
								${nfc.group_name} | ${nfc.group_owner}
							</button>
							<button v-on:click="remove_notification(index)" class="inv_dec_color">
								Decline: 
								<br>
								${nfc.group_name} | ${nfc.group_owner}
							</button>
						</div>
					</div>
				</div>

			</div>

			<div v-if="!logged_in">
				<h3>Log in to use groups</h3>
			</div>

		</div>
    
	</div>

</div>
<script src="{{=URL('static', 'js/group.js')}}"></script>
