{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var my_url = "{{=URL('api', 'my_method')}}";
</script>
<link href="{{=URL('static','css/homepage.css')}}" rel="stylesheet" type="text/css"/>
{{end}}

<div class="main_content">

	<div id="vue-div" class="homepage" v-bind:style="slide_style">

  	<div class="container padded">

  		<h1 class="page_title">Surfs Up</h1>

      <div class="container center">
          <div class="third homepage_container semi_transparent_box homepage_link">
            <a href="./surf" class="link">
              <h3 class="center homepage_text"> Plan the best surf sessions</h3>
            </a>
          </div>

        <div class="third homepage_container semi_transparent_box homepage_link">
          <a href="./groups" class="link">
            <h3 class="center homepage_text"> Join groups with friends</h3>
          </a>
        </div>
        <div class="twothirds homepage_container semi_transparent_box">
          <h4 class="homepage_info"> Surfs Up uses live wave and tide data to recommend the best surf for every skill level</h4>
        </div>
      </div>
<!--       <a class="prev left" onclick="">&#10094;</a>
      <a class="next right" onclick="">&#10095;</a>

      <div class="dot_container center">
        <span class="dot" v-on:click="set_current_slide(1)"></span> 
        <span class="dot" v-on:click="set_current_slide(2)"></span> 
        <span class="dot" v-on:click="set_current_slide(3)"></span> 
      </div> -->

		</div>
    
	</div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
