{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var get_users_url = "{{=URL('user_api', 'get_users', user_signature=True)}}";
    var user_data_url = "{{=URL('user_api', 'get_user_data', user_signature=True)}}";
    var add_user_data_url = "{{=URL('user_api', 'add_user_data', user_signature=True)}}";
    var edit_user_data_url = "{{=URL('user_api', 'edit_user_data', user_signature=True)}}";
    var delete_user_data_url = "{{=URL('user_api', 'delete_all_user_data', user_signature=True)}}";
    var delete_board_url = "{{=URL('user_api', 'delete_board', user_signature=True)}}";
    var delete_group_data_url = "{{=URL('groups_api', 'delete_all_group_data', user_signature=True)}}";
</script>
</script>
<link href="{{=URL('static','css/profile.css')}}" rel="stylesheet" type="text/css"/>
{{end}}

<div class="main_content">

	<div id="vue-div" class="profile">

    <div class="container padded" v-if="!logged_in">
      <h2 class="page_title"> Profile Page</h2>
      <h4> Please log in! </h4>
    </div>

  	<div v-if="logged_in && user_data" class="container padded">

      <div class="container">
        <h2 class="page_title"> ${ current_user.first_name } ${ current_user.last_name } </h2>

        <!-- The Email Container -->
        <div class="field_container quarter spaced">
          <div class="field_container semi_transparent_box padded">
            <div class="container"> 
              <i class="half fa fa-envelope fa-5x"></i>
              <h4 class="half"> Email </h4>
            </div>
            <div class="profile_field silver padded">
              <span class="silver"> ${current_user.email} </span>
            </div>
          </div>
        </div>

        <!-- The Username Container -->
        <div class="field_container quarter spaced">
          <div class="field_container semi_transparent_box padded">
            <div class="container"> 
              <i class="half fa fa-user fa-5x"></i>
              <h4 class="half">Username</h4>
            </div>
            <div class="profile_field silver padded">
              <input type="text" class="fill silver" v-model="user_data.username" 
              v-on:blur="edit_user_data(false)" v-on:keyup.enter="edit_user_data(false)">
            </div>
          </div>
        </div>

        <!-- The Skill Level Container -->
        <div class="field_container quarter spaced">
          <div class="field_container semi_transparent_box padded">
            <div class="container"> 
              <i class="half fa fa-tasks fa-5x"></i>
              <h4 class="half">Skill Level</h4>
            </div>
            <div class="profile_field silver padded">
              <select class="fill silver" v-model="user_data.skill_level" v-on:change="edit_user_data(false)">
                <option>Beginner</option>
                <option>Intermediate</option>
                <option>Advanced</option>
                <option>Expert</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <!-- The Surfboards Container -->
      <div class="field_container half spaced">
        <div class="field_container semi_transparent_box padded">
          <div class="container"> 
            <i class="half fa fa-warehouse fa-5x"></i>
            <h4 class="half"> Your Surfboards </h4>
          </div>
          <div class="profile_field silver padded">
            <div class="silver container tags dismissible">
              <span v-if="!user_data.boards">Add your boards here</span>
              <span v-for="(board, index) in user_data.boards" class="tags" v-on:click="delete_board(index)">
                 ${ board }
              </span>
              <i v-if="!adding_board" class="fa fa-plus add_board_button" v-on:click="adding_board=true"></i>
              <input v-if="adding_board" type="text" class="fill" v-model="new_board" 
              v-on:blur="stop_adding_board()" v-on:keyup.enter="add_board()">
            </div>
          </div>
        </div>
      </div>

      <div class="field_container quarter spaced">
          <div class="field_container semi_transparent_box padded">
            <div class="container"> 
              <i class="half fa fa-tasks fa-5x"></i>
              <h4 class="half">County</h4>
            </div>
            <div class="profile_field silver padded">
              <select class="fill silver" v-model="user_data.county" v-on:change="edit_user_data(false)">
                <option>Santa Cruz</option>
                <option>Del Norte</option>
                <option>Humboldt</option>
                <option>Mendocino</option>
                <option>Sonoma</option>
                <option>Marin</option>
                <option>San Francisco</option>
                <option>San Mateo</option>
                <option>Monterey</option>
                <option>San Luis Obispo</option>
                <option>Santa Barbara</option>
                <option>Ventura</option>
                <option>Los Angeles</option>
                <option>Orange County</option>
                <option>San Diego</option>
              </select>
            </div>
          </div>
        </div>

		</div>
    
	</div>

</div>

<script src="{{=URL('static', 'js/profile.js')}}"></script>

