{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var my_url = "{{=URL('api', 'my_method')}}";
</script>
{{end}}

<div class="main_content">

	<div id="vue-div" class="display:none">

  		<div class="container padded">
        
            <h2>Surf Page</h2>
            <h4>Set the time window you would like to surf:</h4>

            <div class="container half">
                <div class="half">
                    <p>Start time: </p>
                    <input type="range" min="0" max="1440" value="720" step="15" class="slider" id="start_value" v-on:change="update_start_time()">
                    <p>Time: ${start_time}</p>
                </div>

                <div class="half">
                    <p>End time: </p>
                    <input type="range" min="0" max="1440" value="720" step="15" class="slider" id="end_value" v-on:change="update_end_time()">
                    <p>Time: ${end_time}</p>
                </div>
            </div>

            <h5>Get a recommendation!</h5>
            <button class="btn rounded">Surf</button>


            

		</div>
    
	</div>

</div>
<script src="{{=URL('static', 'js/surf.js')}}"></script>
