{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var get_users_url = "{{=URL('api', 'get_users', user_signature=True)}}";
    var user_data_url = "{{=URL('api', 'get_user_data', user_signature=True)}}";
</script> 
<link href="{{=URL('static','css/surf.css')}}" rel="stylesheet" type="text/css"/>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{{end}}

<div class="main_content">

	<div id="vue-div" class="surf">

  		<div class="container padded half">
        
        <h2 class="page_title" >Surf Page</h2>

        <div class="blue padded surf_window">
          <h4>Set the time window you would like to surf:</h4>
          <section class="range-slider">
            <h6 class="rangeValues"></h6>
            <input value="0" min="0" max="1440" step="30" type="range">
            <input value="480" min="0" max="1440" step="30" type="range">
          </section>
        </div>

        <div class="navy padded">
          <h5>Get a recommendation!</h5>
          <button class="btn rounded" v-on:click="surf()">Surf</button>
          <h5>Surf: ${best_spot}</h5>
          
        </div>

		</div>
    
	</div>

</div>
<script src="https://unpkg.com/vue"></script>
<script src="{{=URL('static', 'js/surf.js')}}"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

