
.group_container {
  margin: 30px;
  padding: 20px !important;
}

.group_button {
	width: 95%;
}

.active_group {
	background-color: gray;
}

.your_groups {
	text-align: center;
	margin-bottom: 10px;
}

/* The alert message box */
.alert {
	padding: 20px;
	background-color: #2fcf5f;
	color: white;
	margin-bottom: 15px;
}

/* The close button */
.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
	color: black;
}