
.add_group_container {
  	padding: 20px !important;
  	margin: 10px;
}

.group_container {
  	padding-bottom: 2px;
  	/*overflow-y: auto;*/
  	margin: 10px;
}

.group_list_container {
	padding-top: 2px;
	padding-bottom: 10px;
	margin: 10px;
}

.notification_container {
	margin: 10px;
	padding: 2px 10px 10px 10px;
}

.active_group {
	background-color: darkgrey;
}

.your_groups {
	text-align: center;
	margin-bottom: 10px;
}

.name_container {
	border-bottom: 1px solid black;
}

.group_name {
	display: inline-block;
}

.name_edit_icon {
	cursor: pointer;
	margin-left: 10px;
}

.name_edit_icon:hover {
	color: grey;
}

.edit_group_name {
	width: 90% !important;
	margin: 12px !important;
}

.spot_and_members {
	overflow-y: auto;
	padding-left: 1em;
	padding-right: 1em;
}

.group_left {
	width: 48%;
}

.group_right {
	width: 48%;
}

.member {
	margin-top: 5px;
}

.done_button {
	margin: 1em !important;
}

.remove_container {
	display: inline-block;
	width: 98%;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
}

.remove_session {
	background-color: darkred;
	text-align: center;
	vertical-align: middle;
	width: 50%;
	box-shadow: 0 2px 5px 0px rgba(0,0,0,0.5);
	border-color: darkred;
}

.delete_button {
	margin: 1em !important;
	background-color: darkred; 
	color: white; 
	border: 2px solid darkred;
}

/* The alert message box */
.alert {
	padding: 10px;
	background-color: #2fcf5fbe;
	color: white;
	margin-bottom: 15px;
	text-align: center;
}

.exit_alert:hover {
	color: grey;
}

/* The close button */
.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
	color: black;
}

.inv_acc_color{
	background-color: #2fcf5fbe
}

.inv_dec_color{
	background-color: darkred
}