/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

.page_title {
  border-bottom: 2px solid black;
  margin-top: 0.4em !important;
}

.homepage {
  background-image: url("../images/surfer_1.jpg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.homepage_center_container {
  margin: 5%;
  width: 35%;
  border: 2px solid black;
  padding: 10px !important;
  padding-bottom: 20px !important;
}

.profile {
  display: none;
  background-image: url("../images/surfer_3.jpg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: scroll;
}

.surf {
  display: none;
  background-image: url("../images/surfer_4.jpg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: scroll;
}

.groups {
  display: none;
  background-image: url("../images/surfer_5.jpg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: scroll;
}

.about {
  background-image: url("../images/surfer_6.jpg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

