/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

.page_title {
  border-bottom: 2px solid black;
  margin-top: 0.4em !important;
}

.homepage {
  background-image: url("../images/surfer_1.jpg");
  width: auto;
  height: 100%;
  background-repeat: no-repeat;
}

.homepage_center_container {
  margin: 5%;
  width: 35%;
  border: 2px solid black;
  padding: 10px;
  padding-bottom: 20px;
}

.profile {
  background-image: url("../images/surfer_3.jpg");
  width: auto;
  height: 100%;
  background-repeat: no-repeat;
}

.surf {
  background-image: url("../images/surfer_4.jpg");
  width: auto;
  height: 100%;
  background-repeat: no-repeat;
}

.groups {
  background-image: url("../images/surfer_5.jpg");
  width: auto;
  height: 100%;
  background-repeat: no-repeat;
}

.group_container {
  margin: 30px;
  padding: 20px !important;
}
