/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

.page_title {
  border-bottom: 2px solid black;
  margin-top: 0.4em !important;
}

.homepage {
  background-image: url("../images/surfer_1.jpg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.homepage_center_container {
  margin: 5%;
  width: 35%;
  border: 2px solid black;
  padding: 10px !important;
  padding-bottom: 20px !important;
}

.profile {
  display: none;
  background-image: url("../images/blue_poly_background.jpg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.surf {
  display: none;
  background-image: url("../images/lightblue_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.groups {
  display: none;
  background-image: url("../images/teal_background.jpg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.about {
  background-image: url("../images/surfer_6.jpg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.semi_transparent_box {
  background-color: rgba(0, 0, 0, 0.3);
}

