/* line 1, ../sass/profile.scss */
.colorful {
  color: #bb8833;
}

.profile_name {
	border-bottom: 1px solid #26a69a;
}

.profile_field {
	margin-bottom: 15px;
}

.add_board_button {
	cursor: pointer;
}
